<div class='navigation'>
<ul>
  <li><a href='/' class='index'>All Links</a></li>
  <li><a href='/#/create' class='create'>Shorten</a></li>
  <li><a href='/logout' class='logout'>Logout</a></li>
  <li><input type="text" ng-model="searchString" placeholder="Enter your search terms">
</ul>
</div>

<div id='container'>

  <div ng-repeat="link in data.links | filter:searchString" class="link">
  <img src='/assets/redirect_icon.png'/>
  <div class='info'>
    <div class='visits'><span class='count'>{{ link.visits }}</span>Visits</div>
    <div class='title'>{{ link.title }}</div>
    <div class='original'>{{ link.url }}</div>
    <a href='/api/links/{{ link.code }}'>{{ link.base_url }}/{{ link.code }}</a>
  </div>
  </div>

</div>
